body{
	background:url('http://more-sky.com/data/out/6/IMG_134751.png') no-repeat center center;
	background-size: cover;
	
}

a:visited { 
    color: black;
}

* {
}

/****************for top bar***************/
.top{
	margin:0px;
	height: 25px;
	padding-left: 10px;
	background-color: #ba6ee2;
	border: 1px solid #ba6ee2;
	color:black;
	font-family: 'Righteous', cursive;
}

.right{
	margin-right:20px;
	float:right;
}

.left{
	margin-right:20px;
	float:left;
}

.left:hover, .right:hover{
	color: white;
}
/*********************************************/

/****************for title***************/
.title{
	color:hsla(279, 67%, 48%, 0.7); /*in case that other browser cant load webkit*/
	padding:15px;
	text-align:center;
	-webkit-text-fill-color: hsla(279, 67%, 48%, 0.7);
	-webkit-text-stroke: 1px hsla(279, 67%, 27%, 0.7);
	font-family:  'Pacifico', cursive;
	font-size:45px;
	background-size: contain;
	min-width: 350px;
	background:url('http://vignette2.wikia.nocookie.net/pokemon/images/6/6d/132Ditto_Pokemon_Ranger_Guardian_Signs.png/revision/latest?cb=20150106011857') no-repeat center bottom;
	font-weight: bold;
	margin:0px auto;
	width: 700px;
	height:400px;
}

/****************************************/

.expand{
	height: 900px;
}

/****************for bottom***************/
.bottom{
	font-family: 'Comfortaa', cursive;
	margin:0px auto;
	margin-top: 20px;
	padding:20px 30px 35px 30px;
	width: 400px;
	height: 550px;
	min-width: 400px;
	color: black;
	background-color: hsla(279, 67%, 48%, 0.36);
	border: 1px solid hsla(279, 67%, 48%, 0.36);
  	border-radius: 15px;

}

.form textarea{
	margin:0px auto;
	border-radius: 10px;
	width:390px;
	height: 400px;
	font-family: 'Pangolin', cursive;
	font-size: 18px;
}

.btn {
  	font-family: 'Comfortaa', cursive;
	font-family: 'Russo One', sans-serif;
	color: black;
	text-align: center;
	padding:85px 0px 0px 0px;
	float:right;
	border:none; 
	background:url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Black_pencil.svg/600px-Black_pencil.svg.png') no-repeat center;
	background-size: contain;
	width: 70px;
	height:110px;
    text-transform: uppercase;
}

.btn:active {
	border:none; 
  background:url('http://pngimages.net/sites/default/files/pencil-png-image-94581.png') no-repeat center;
  background-size: contain;
}

.btn:hover {
	border:none; 
    color: hsla(291, 84%, 42%, 1);
	font-weight: bold;
}